[Unit]
Description=ARTIS status reporter service
After=artis-sigma1-parity.service
[Service]
User=artis
Group=artis
WorkingDirectory=/home/artis/node-status-reporter
Environment=NODE_ENV=production
Environment=RPC_HOST=localhost
Environment=RPC_PORT=8545
Environment=LISTENING_PORT=30303
Environment=WS_SERVER=http://status.sigma1.artis.network
# Environment=WS_SECRET=
# Environment=INSTANCE_NAME=
# Environment=CONTACT_DETAILS=
ExecStart=/usr/bin/npm start
Restart=always

[Install]
WantedBy=multi-user.target
