# Put the private key as hex string (WITHOUT leading 0x) here
VALIDATOR_ADDRESS_PRIVATE_KEY=

BRIDGE_MODE=NATIVE_TO_ERC
HOME_POLLING_INTERVAL=5000
FOREIGN_POLLING_INTERVAL=5000
ALLOW_HTTP=yes
HOME_RPC_URL=https://rpc.sigma1.artis.network
FOREIGN_RPC_URL=https://mainnet.infura.io
HOME_BRIDGE_ADDRESS=0xA6fecAec16A8eEe9A3eF8eADa79FB244f493E33b
FOREIGN_BRIDGE_ADDRESS=0xEfc737ECE4098B8e4AA7D6029EFC29880f7DAe24

# 100 gwei
HOME_GAS_PRICE_FALLBACK=100000000000
# A high update interval avoids the logs being spammed bcs of failed requests to the non-configured gas price oracle
HOME_GAS_PRICE_UPDATE_INTERVAL=999999999

FOREIGN_GAS_PRICE_FALLBACK=3010000000

RELAY_TXS=none

QUEUE_URL=amqp://127.0.0.1
REDIS_URL=redis://127.0.0.1:6379
REDIS_LOCK_TTL=1000

HOME_START_BLOCK=1937570
FOREIGN_START_BLOCK=7323809

LOG_LEVEL=info
MAX_PROCESSING_TIME=300000
